In [2]:
import mysql.connector

In [10]:
db = mysql.connector.connect(
    host = 'localhost',
    user = 'nadian',
    passwd = 'nadian',
    database = 'myshop'
)

## kursor tanpa dictionary

In [19]:
c =  db.cursor()
sql = "select * from karyawan"
c.execute(sql)
out = c.fetchall()
print(out)

print(list(map(lambda x : x[1], out)))

[(1, 'ani', None, 5000000, {'wanita'}, datetime.datetime(2019, 11, 21, 9, 34, 51)), (2, 'Anna', None, 5000000, {'wanita'}, datetime.datetime(2019, 11, 21, 9, 39, 34)), (3, 'Kristoff', None, 5000000, {'pria'}, datetime.datetime(2019, 11, 21, 9, 36, 56)), (4, 'olaf', None, 7000000, {'pria', 'wanita'}, datetime.datetime(2019, 11, 21, 9, 37, 38)), (9, 'Nadia', None, 15000000, None, datetime.datetime(2019, 11, 21, 11, 57, 23)), (10, 'Nadia Ningtias', None, 15000000, None, datetime.datetime(2019, 11, 21, 11, 58)), (11, 'Nadia Ningtias', None, 15000000, None, datetime.datetime(2019, 11, 21, 11, 59, 58)), (12, 'Nadia Ningtias', None, 15000000, None, datetime.datetime(2019, 11, 21, 12, 0)), (13, 'Maya', None, 20000000, None, datetime.datetime(2019, 11, 21, 12, 0)), (14, 'Nadia Ningtias', None, 15000000, None, datetime.datetime(2019, 11, 21, 12, 1, 3)), (15, 'Maya', None, 20000000, None, datetime.datetime(2019, 11, 21, 12, 1, 3))]
['ani', 'Anna', 'Kristoff', 'olaf', 'Nadia', 'Nadia Ningtias', 'Nadia Ningtias', 'Nadia Ningtias', 'Maya', 'Nadia Ningtias', 'Maya']

## Kursor dengan dictionary

In [32]:
def selectAll():
    c =  db.cursor(dictionary=True)
    sql = "select * from karyawan"
    c.execute(sql)
    out = c.fetchall()
    print(out)
print(list(map(lambda x : x[1], out)))

['ani', 'Anna', 'Kristoff', 'olaf', 'Nadia', 'Nadia Ningtias', 'Nadia Ningtias', 'Nadia Ningtias', 'Maya', 'Nadia Ningtias', 'Maya']

# INSERT

In [25]:
c =  db.cursor(dictionary=True)
sql = "insert into karyawan (nama) values (%s)"
data = ('Andi',)
c.execute(sql,data)
# out = c.fetchall()
db.commit()

selectAll()

[{'nama': 'ani'}, {'nama': 'Anna'}, {'nama': 'Kristoff'}, {'nama': 'olaf'}, {'nama': 'Nadia'}, {'nama': 'Nadia Ningtias'}, {'nama': 'Nadia Ningtias'}, {'nama': 'Nadia Ningtias'}, {'nama': 'Maya'}, {'nama': 'Nadia Ningtias'}, {'nama': 'Maya'}, {'nama': 'Andi'}, {'nama': 'Andi'}, {'nama': 'Andi'}, {'nama': 'Andi'}]

# DELETE

In [27]:
c =  db.cursor(dictionary=True)
sql = "delete from karyawan where nama =(%s)"
data = ('Andi',)
c.execute(sql,data)
# out = c.fetchall()
db.commit()

selectAll()

[{'nama': 'ani'}, {'nama': 'Anna'}, {'nama': 'Kristoff'}, {'nama': 'olaf'}, {'nama': 'Nadia'}, {'nama': 'Nadia Ningtias'}, {'nama': 'Nadia Ningtias'}, {'nama': 'Nadia Ningtias'}, {'nama': 'Maya'}, {'nama': 'Nadia Ningtias'}, {'nama': 'Maya'}]

# UPDATE

In [29]:
c =  db.cursor(dictionary=True)
sql = "UPDATE karyawan SET nama = (%s) WHERE nama = 'olaf'"
data = ('olaf 2',)
c.execute(sql,data)
# out = c.fetchall()
db.commit()

selectAll()

[{'nama': 'ani'}, {'nama': 'Anna'}, {'nama': 'Kristoff'}, {'nama': 'olaf 2'}, {'nama': 'Nadia'}, {'nama': 'Nadia Ningtias'}, {'nama': 'Nadia Ningtias'}, {'nama': 'Nadia Ningtias'}, {'nama': 'Maya'}, {'nama': 'Nadia Ningtias'}, {'nama': 'Maya'}]

In [30]:
c =  db.cursor(dictionary=True)
sql = "UPDATE karyawan SET nama = (%s), gaji = (%s) WHERE nama = 'nadia%' and gaji < 6000000"
data = ('olaf 2', 20000000)
c.execute(sql,data)
# out = c.fetchall()
db.commit()

selectAll()

[{'nama': 'ani'}, {'nama': 'Anna'}, {'nama': 'Kristoff'}, {'nama': 'olaf 2'}, {'nama': 'Nadia'}, {'nama': 'Nadia Ningtias'}, {'nama': 'Nadia Ningtias'}, {'nama': 'Nadia Ningtias'}, {'nama': 'Maya'}, {'nama': 'Nadia Ningtias'}, {'nama': 'Maya'}]

## Alter table TAMBAH KOLOM

In [35]:
c =  db.cursor(dictionary=True)
sql = "ALTER TABLE karyawan ADD COLUMN pencapaian varchar(100)"
# data = ('olaf 2', 20000000)
c.execute(sql)
# out = c.fetchall()
db.commit()

selectAll()

[{'id_kar': 1, 'nama': 'ani', 'alamat': None, 'gaji': 5000000, 'sex': {'wanita'}, 'created_at': datetime.datetime(2019, 11, 21, 9, 34, 51), 'hobby': None, 'pencapaian': None}, {'id_kar': 2, 'nama': 'Anna', 'alamat': None, 'gaji': 5000000, 'sex': {'wanita'}, 'created_at': datetime.datetime(2019, 11, 21, 9, 39, 34), 'hobby': None, 'pencapaian': None}, {'id_kar': 3, 'nama': 'Kristoff', 'alamat': None, 'gaji': 5000000, 'sex': {'pria'}, 'created_at': datetime.datetime(2019, 11, 21, 9, 36, 56), 'hobby': None, 'pencapaian': None}, {'id_kar': 4, 'nama': 'olaf 2', 'alamat': None, 'gaji': 7000000, 'sex': {'pria', 'wanita'}, 'created_at': datetime.datetime(2019, 11, 21, 9, 37, 38), 'hobby': None, 'pencapaian': None}, {'id_kar': 9, 'nama': 'Nadia', 'alamat': None, 'gaji': 15000000, 'sex': None, 'created_at': datetime.datetime(2019, 11, 21, 11, 57, 23), 'hobby': None, 'pencapaian': None}, {'id_kar': 10, 'nama': 'Nadia Ningtias', 'alamat': None, 'gaji': 15000000, 'sex': None, 'created_at': datetime.datetime(2019, 11, 21, 11, 58), 'hobby': None, 'pencapaian': None}, {'id_kar': 11, 'nama': 'Nadia Ningtias', 'alamat': None, 'gaji': 15000000, 'sex': None, 'created_at': datetime.datetime(2019, 11, 21, 11, 59, 58), 'hobby': None, 'pencapaian': None}, {'id_kar': 12, 'nama': 'Nadia Ningtias', 'alamat': None, 'gaji': 15000000, 'sex': None, 'created_at': datetime.datetime(2019, 11, 21, 12, 0), 'hobby': None, 'pencapaian': None}, {'id_kar': 13, 'nama': 'Maya', 'alamat': None, 'gaji': 20000000, 'sex': None, 'created_at': datetime.datetime(2019, 11, 21, 12, 0), 'hobby': None, 'pencapaian': None}, {'id_kar': 14, 'nama': 'Nadia Ningtias', 'alamat': None, 'gaji': 15000000, 'sex': None, 'created_at': datetime.datetime(2019, 11, 21, 12, 1, 3), 'hobby': None, 'pencapaian': None}, {'id_kar': 15, 'nama': 'Maya', 'alamat': None, 'gaji': 20000000, 'sex': None, 'created_at': datetime.datetime(2019, 11, 21, 12, 1, 3), 'hobby': None, 'pencapaian': None}]

In [36]:
selectAll()

[{'id_kar': 1, 'nama': 'ani', 'alamat': None, 'gaji': 5000000, 'sex': {'wanita'}, 'created_at': datetime.datetime(2019, 11, 21, 9, 34, 51), 'hobby': None, 'pencapaian': None}, {'id_kar': 2, 'nama': 'Anna', 'alamat': None, 'gaji': 5000000, 'sex': {'wanita'}, 'created_at': datetime.datetime(2019, 11, 21, 9, 39, 34), 'hobby': None, 'pencapaian': None}, {'id_kar': 3, 'nama': 'Kristoff', 'alamat': None, 'gaji': 5000000, 'sex': {'pria'}, 'created_at': datetime.datetime(2019, 11, 21, 9, 36, 56), 'hobby': None, 'pencapaian': None}, {'id_kar': 4, 'nama': 'olaf 2', 'alamat': None, 'gaji': 7000000, 'sex': {'pria', 'wanita'}, 'created_at': datetime.datetime(2019, 11, 21, 9, 37, 38), 'hobby': None, 'pencapaian': None}, {'id_kar': 9, 'nama': 'Nadia', 'alamat': None, 'gaji': 15000000, 'sex': None, 'created_at': datetime.datetime(2019, 11, 21, 11, 57, 23), 'hobby': None, 'pencapaian': None}, {'id_kar': 10, 'nama': 'Nadia Ningtias', 'alamat': None, 'gaji': 15000000, 'sex': None, 'created_at': datetime.datetime(2019, 11, 21, 11, 58), 'hobby': None, 'pencapaian': None}, {'id_kar': 11, 'nama': 'Nadia Ningtias', 'alamat': None, 'gaji': 15000000, 'sex': None, 'created_at': datetime.datetime(2019, 11, 21, 11, 59, 58), 'hobby': None, 'pencapaian': None}, {'id_kar': 12, 'nama': 'Nadia Ningtias', 'alamat': None, 'gaji': 15000000, 'sex': None, 'created_at': datetime.datetime(2019, 11, 21, 12, 0), 'hobby': None, 'pencapaian': None}, {'id_kar': 13, 'nama': 'Maya', 'alamat': None, 'gaji': 20000000, 'sex': None, 'created_at': datetime.datetime(2019, 11, 21, 12, 0), 'hobby': None, 'pencapaian': None}, {'id_kar': 14, 'nama': 'Nadia Ningtias', 'alamat': None, 'gaji': 15000000, 'sex': None, 'created_at': datetime.datetime(2019, 11, 21, 12, 1, 3), 'hobby': None, 'pencapaian': None}, {'id_kar': 15, 'nama': 'Maya', 'alamat': None, 'gaji': 20000000, 'sex': None, 'created_at': datetime.datetime(2019, 11, 21, 12, 1, 3), 'hobby': None, 'pencapaian': None}]