In [2]:
import numpy as np
import pandas as pd

In [5]:
x = [3,2,4,6,3,5,8,9]
seri = pd.Series(x)
seri

0    3
1    2
2    4
3    6
4    3
5    5
6    8
7    9
dtype: int64

In [14]:
x = ['Andi', 'Budi', 'Caca']
y = pd.Series(x, index=[x])
y

Andi    Andi
Budi    Budi
Caca    Caca
dtype: object

In [17]:
y['Andi']

'Andi'

In [25]:
x2 = [9,3,4,4,1]
ser = pd.Series(
    data = np.array(x2),
    index = ['a', 'b', 'c', 'd', 'e'],
    name= 'test'
)
ser

a    9
b    3
c    4
d    4
e    1
Name: test, dtype: int32

In [35]:
x3 = [9,3,4,4,1]
ser = pd.Series(
    data = {'nama' : 'andi', 'kelas' : 'data science', 'umur' : 22, 'alamat' : 'nava park'},
    name= 'test'
)
ser

alamat       nava park
kelas     data science
nama              andi
umur                22
Name: test, dtype: object