In [ ]:
# !pip install MySQL-connector-python

# CRUD python x MySQL

In [6]:
import mysql.connector

In [20]:
db = mysql.connector.connect(
    host = "localhost",
    port = 3306,
    user = 'root',
    passwd = '',
)

print(db)
kursor = db.cursor()
kursor.execute('show databases')
print(kursor.fetchall())

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000017284EDABA8>
[('dbprojeknfc',), ('demo_e_sdm_dishub',), ('dishub_bus_sekolah',), ('dishub_e_inventory',), ('e_sdm_dishub',), ('eworddb',), ('information_schema',), ('myshop',), ('mysql',), ('nfc',), ('performance_schema',), ('phpmyadmin',), ('test',), ('tokoonlineku',)]

In [42]:
db2 = mysql.connector.connect(
    host = "localhost",
    port = 3306,
    user = 'nadian',
    passwd = 'nadian',
    database = 'myshop'
)

print(db2)

c =  db2.cursor()
c.execute('select * from karyawan')
x =  c.fetchall()
print(type(x))
for data in x:
    print(data)
#     print(type(data))

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000017284F81BE0>
<class 'list'>
('ani',)
('Anna',)
('Kristoff',)
('olaf',)

In [50]:
def selectAll():
    c.execute('select * from karyawan')
    x =  c.fetchall()
    print(type(x))
    for data in x:
        print(data)
    #     print(type(data))

# INSERT - mysql

In [47]:

q = "insert into karyawan (nama, gaji) values (%s, %s)"
val = ("Nadia Ningtias", 15000000)
c.execute(q, val)
db2.commit()
print(c.rowcount, "data tersimpan")

1 data tersimpan

In [51]:
q = "insert into karyawan (nama, gaji) values (%s, %s)"
val = [("Nadia Ningtias", 15000000), ("Maya", 20000000)]
c.executemany(q, val)
db2.commit()
print(c.rowcount, "data tersimpan")
selectAll()

2 data tersimpan
<class 'list'>
(1, 'ani', None, 5000000, {'wanita'}, datetime.datetime(2019, 11, 21, 9, 34, 51))
(2, 'Anna', None, 5000000, {'wanita'}, datetime.datetime(2019, 11, 21, 9, 39, 34))
(3, 'Kristoff', None, 5000000, {'pria'}, datetime.datetime(2019, 11, 21, 9, 36, 56))
(4, 'olaf', None, 7000000, {'pria', 'wanita'}, datetime.datetime(2019, 11, 21, 9, 37, 38))
(9, 'Nadia', None, 15000000, None, datetime.datetime(2019, 11, 21, 11, 57, 23))
(10, 'Nadia Ningtias', None, 15000000, None, datetime.datetime(2019, 11, 21, 11, 58))
(11, 'Nadia Ningtias', None, 15000000, None, datetime.datetime(2019, 11, 21, 11, 59, 58))
(12, 'Nadia Ningtias', None, 15000000, None, datetime.datetime(2019, 11, 21, 12, 0))
(13, 'Maya', None, 20000000, None, datetime.datetime(2019, 11, 21, 12, 0))
(14, 'Nadia Ningtias', None, 15000000, None, datetime.datetime(2019, 11, 21, 12, 1, 3))
(15, 'Maya', None, 20000000, None, datetime.datetime(2019, 11, 21, 12, 1, 3))

TUGAS : scrapping web digimon masukin ke dalam Database