In [1]:
import pymongo

In [26]:
import datetime
import pytz

In [3]:
client = pymongo.MongoClient('localhost', 27017)

# SHOW semua DATABASE yang ada di dalam mongoDB
dbs = client.list_database_names()
dbs

['DB_MDcek',
 'MDcek',
 'MDcek_django',
 'admin',
 'batam',
 'config',
 'local',
 'resto',
 'test',
 'tokobuah',
 'tokoonline']

In [9]:
mydb = client['MyNewDB']
mycol = mydb['waktu']
dbs = client.list_database_names()
dbs

['DB_MDcek',
 'MDcek',
 'MDcek_django',
 'admin',
 'batam',
 'config',
 'local',
 'resto',
 'test',
 'tokobuah',
 'tokoonline']

In [11]:
mycol.insert_one({
        'nama' : 'Budi', 'waktu' : datetime.datetime.now()
})

In [12]:
print(list(mycol.find()))

[{'_id': ObjectId('5ddca3a4528aba33b2d1585e'), 'nama': 'Budi', 'waktu': datetime.datetime(2019, 11, 26, 11, 1, 40, 838000)}, {'_id': ObjectId('5ddca3ac528aba33b2d1585f'), 'nama': 'Budi', 'waktu': datetime.datetime(2019, 11, 26, 11, 1, 48, 463000)}]

In [18]:
query = (list(mycol.find({'nama':'Budi'},{'waktu':1})))
print(list(query)[0]['waktu'])

2019-11-26 11:01:40.838000

In [24]:
mycol.insert_one({
        'nama' : 'Nadia', 'waktu' : datetime.datetime.utcnow()
})
print(list(mycol.find()))

[{'_id': ObjectId('5ddca3a4528aba33b2d1585e'), 'nama': 'Budi', 'waktu': datetime.datetime(2019, 11, 26, 11, 1, 40, 838000)}, {'_id': ObjectId('5ddca3ac528aba33b2d1585f'), 'nama': 'Budi', 'waktu': datetime.datetime(2019, 11, 26, 11, 1, 48, 463000)}, {'_id': ObjectId('5ddca54b528aba33b2d15860'), 'nama': 'Nadia', 'waktu': datetime.datetime(2019, 11, 26, 4, 8, 43, 998000)}, {'_id': ObjectId('5ddca566528aba33b2d15861'), 'nama': 'Nadia', 'waktu': datetime.datetime(2019, 11, 26, 4, 9, 10, 362000)}, {'_id': ObjectId('5ddca581528aba33b2d15862'), 'nama': 'Nadia', 'waktu': datetime.datetime(2019, 11, 26, 4, 9, 37, 49000)}, {'_id': ObjectId('5ddca58d528aba33b2d15863'), 'nama': 'Nadia', 'waktu': datetime.datetime(2019, 11, 26, 4, 9, 49, 785000)}, {'_id': ObjectId('5ddca58f528aba33b2d15864'), 'nama': 'Nadia', 'waktu': datetime.datetime(2019, 11, 26, 4, 9, 51, 380000)}]

In [28]:
query = (list(mycol.find({'nama':'Nadia'},{'waktu':1})))
print(list(query)[0]['waktu'])

2019-11-26 04:08:43.998000

In [30]:
jkt = pytz.timezone('Asia/Jakarta')
mycol.insert_one({
    'nama' : 'Deni',
    'waktu' : datetime.datetime.utcnow()
})

In [31]:
# untuk menambahkan +7 (WIB = GMT +7)

print(jkt.localize(list(query)[0]['waktu']))

2019-11-26 04:08:43.998000+07:00